* {
  font-family: 'Roboto', sans-serif;
}

#container {
  font-size: 0.8em;
  height: 90vh;
}

#sourceDataLink {
  font-size: 0.6em;
  display: block;
  text-align: right;
  margin-bottom: 5px;
}

#row {
  height: 1.2em;
}

input[type="button"] {
    width: 145px;
}

span.dataLabel, span.data, span.diff, span.diff-value {
  display: inline-block;
}
span.dataLabel {
  width: 140px;
  font-weight: bold;
}

span.data {
  width: 40px;
  text-align: right;
  padding-right: 10px;
}

span.diff {
  width: 45px;
}

span.up {
  color: red;
}

span.down {
  color: green;
}

span.diff-value {
  width: 25px;
  text-align: right;
}

span.proportion{
  font-size: 0.8em;
}

 @media screen and (max-width: 400px){
   .over{
     display: none;
   }
   span.dataLabel{
     width: 115px;
   }
 }
